@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 0.75rem;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #F5F5F5;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.0625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  max-width: 496px;
}

.form__row:not(:last-child) {
  margin-bottom: 1.375rem;
}

.form__body {
  max-width: 403px;
}

.form__title {
  position: relative;
  font-size: 2rem;
  line-height: 1.21875;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  color: #121212;
  margin-bottom: 1.5625rem;
}

.form__title::after,
.form__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 150px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #FF4701;
}

.form__title::after {
  -webkit-transform: matrix(0.99, -0.13, 0.16, 0.99, 0, 0);
      -ms-transform: matrix(0.99, -0.13, 0.16, 0.99, 0, 0);
          transform: matrix(0.99, -0.13, 0.16, 0.99, 0, 0);
}

.form__title::before {
  content: "";
  -webkit-transform: matrix(1, 0.06, 0.02, 1, 0, 0);
      -ms-transform: matrix(1, 0.06, 0.02, 1, 0, 0);
          transform: matrix(1, 0.06, 0.02, 1, 0, 0);
}

.form__suptitle {
  font-weight: 300;
  color: #121212;
  max-width: 488px;
}

.form__text {
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  font-weight: 400;
  color: #121212;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  padding: 18px 0px;
  border-radius: 100px;
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 600;
  letter-spacing: 0.32px;
  color: #FFFFFF;
  background: #6937F7;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  width: 100%;
  display: block;
  padding: 16px 20px;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.125;
  color: #000;
}

.input::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

.input::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

.input:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

.input::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

.input::placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

textarea {
  resize: none;
  padding: 16px 20px;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.125;
}

textarea::-webkit-input-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

textarea::-moz-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

textarea:-ms-input-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

textarea::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

textarea::placeholder {
  font-size: 1rem;
  line-height: 1.1875;
  font-weight: 400;
  color: #A8A8A8;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.section {
  position: relative;
}

.section__title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
  color: #121212;
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.section__title svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29px;
          flex: 0 0 29px;
  fill: rgb(255, 71, 1);
}

.page-info {
  position: relative;
}

.page-info::after {
  content: "";
  position: absolute;
  top: -100px;
  right: -110px;
  width: 494px;
  height: 334px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  opacity: 0.35;
  -webkit-filter: blur(75px);
          filter: blur(75px);
}

.page-info__inner {
  position: relative;
  border-radius: 15px;
  background: #121212;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.page-info__inner::before,
.page-info__inner::after {
  content: "";
  position: absolute;
  top: 30px;
  width: 400px;
  height: 100%;
  background: -o-linear-gradient(235.28deg, #6339DA 36.67%, #005BAF 80.34%);
  background: linear-gradient(214.72deg, #6339DA 36.67%, #005BAF 80.34%);
  opacity: 0.5;
  -webkit-filter: blur(60px);
          filter: blur(60px);
  z-index: 0;
}

.page-info__inner::after {
  top: 0;
  right: -100px;
}

.page-info__inner::before {
  left: -100px;
}

.page-info p {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.1666666667;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

.page-info__secondary {
  position: relative;
}

.page-info__secondary-inner {
  background: #FFFFFF;
  border-radius: 20px;
}

.page-info__secondary-inner p {
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 500;
  color: #000000;
}

.page-info__secondary-inner p:not(:last-child) {
  margin-bottom: 1.25rem;
}

.page-info__secondary-inner li {
  font-size: 1.375rem;
  line-height: 140%;
  color: #000000;
}

.page-info__secondary-img {
  position: absolute;
  right: 60px;
  bottom: -100px;
  width: 175px;
}

.page-info__secondary-img img {
  max-width: 100%;
}

.header {
  padding: 39px 0;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #fff;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__navigation-item:not(:last-child) {
  margin-right: 45px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  width: 1.9375rem;
  height: 1.9375rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #2E2D2F;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.social__item:not(:last-child) {
  margin-right: 18px;
}

.social__item:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-top: 3.4375rem;
}

.hero__body::before {
  content: "";
  background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  opacity: 0.35;
  -webkit-filter: blur(55px);
          filter: blur(55px);
  position: absolute;
  top: -60px;
  right: -150px;
  z-index: -1;
  width: 900px;
  height: 740px;
}

.hero__img img {
  max-width: 100%;
}

.no-webp .hero__line{
  background-image: url(../img/hero/banner.png); }

.hero__line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 142px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.callback {
  background: #121212;
  border-radius: 15px;
}

.callback::before {
  content: "";
}

.callback__container {
  max-width: 60.9375rem;
  position: relative;
  z-index: 1;
}

.callback .form__title,
.callback .form__suptitle,
.callback .form__text {
  color: #fff;
}

.callback .input,
.callback textarea {
  background: #2F2D2D;
  color: #fff;
}

.callback__img img {
  max-width: 100%;
}

.servises {
  background: #121212;
}

.servises__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  max-width: 394px;
}

.servises__item-icon {
  margin-bottom: 2.5rem;
}

.servises__item-icon img {
  max-width: 100%;
}

.servises__item-title {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 900;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.servises__item-desc {
  font-size: 0.9375rem;
  line-height: 1.2;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
}

.servises__icon {
  position: absolute;
  z-index: 0;
}

.servises__icon img {
  max-width: 100%;
}

.servises__icon-1 {
  top: 0;
  left: -60px;
}

.servises__icon-2 {
  bottom: 0;
  right: -70px;
}

.work::before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 286px;
  height: 390px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  -webkit-filter: blur(105px);
          filter: blur(105px);
}

.work__img {
  position: relative;
  border-radius: 0px 55px;
}

.work__img::before {
  content: "";
  position: absolute;
  top: 48px;
  left: -27px;
  width: 100%;
  height: 100%;
  background: rgba(105, 55, 247, 0.07);
  border-radius: 0px 55px;
}

.work__img img {
  border-radius: 0px 55px;
  max-width: 100%;
}

.work__item,
.page-info__secondary-inner li {
  position: relative;
  padding-left: 28px;
}

.work__item::before,
.page-info__secondary-inner li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../img/icons/star.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.work__item h4,
.page-info__secondary-inner li h4 {
  font-size: 1.5rem;
  line-height: 1.1666666667;
  color: #121212;
  margin-bottom: 0.25rem;
}

.work__item p,
.page-info__secondary-inner li p {
  font-size: 1.1875rem;
  line-height: 1.1578947368;
  color: #121212;
}

.advantages__title,
.clients__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__title span,
.clients__title span {
  color: #FF4701;
}

.advantages__title-icon,
.clients__title-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #F7D2C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.875rem;
}

.advantages__title-icon svg,
.clients__title-icon svg {
  fill: rgb(105, 55, 247);
}

.advantages__body {
  background-color: #fff;
  border-radius: 20px;
}

.advantages__icon {
  width: 12.4375rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.advantages__desc,
.clients__desc {
  font-size: 1.25rem;
  line-height: 140%;
  text-align: center;
  color: #121212;
}

.price::before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 286px;
  height: 390px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  -webkit-filter: blur(105px);
          filter: blur(105px);
  z-index: 0;
}

.price::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 286px;
  height: 390px;
  background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
  -webkit-filter: blur(105px);
          filter: blur(105px);
  z-index: 0;
}

.price__title {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.price__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price__item {
  position: relative;
  background: #5243C2;
  -webkit-box-shadow: 0px 30px 60px rgba(61, 51, 134, 0.295755);
          box-shadow: 0px 30px 60px rgba(61, 51, 134, 0.295755);
  border-radius: 26px;
  padding: 34px 14px 43px 14px;
  max-width: 320px;
  font-size: 2rem;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  z-index: 1;
}

.price__item-title {
  margin-bottom: 0.9375rem;
}

.price__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.1875rem;
}

.price__item-price span {
  font-size: 4.375rem;
  line-height: 140%;
  font-weight: 700;
  margin: 10px 0;
}

.price__item-button {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.1875;
  background: #FF4701;
  border-radius: 24px;
  padding: 13px 60px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.price__item-button:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.clients__container {
  max-width: 60.5rem;
}

.clients__title {
  margin-bottom: 2.125rem;
}

.clients__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__icon {
  width: 128px;
}

.clients__icon img {
  max-width: 100%;
}

@media (min-width: 47.99875em) {
  [class*=__container] {
    padding: 0 3.5rem;
  }

  .form__title {
    display: inline-block;
    font-size: 45px;
    line-height: 56px;
    margin-bottom: 0.5rem;
  }

  .form__title::after,
  .form__title::before {
    width: 300px;
    height: 61px;
    right: -30px;
  }

  .form__suptitle {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: 4.0625rem;
  }

  .section__title {
    font-size: 2.1875rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2.9375rem;
  }

  .page-info {
    padding-left: 56px;
    padding-right: 56px;
    margin-bottom: 6.25rem;
  }

  .page-info__inner {
    padding: 47px 38px;
  }

  .page-info__secondary {
    padding: 0 56px;
    margin-bottom: 10rem;
  }

  .header__container {
    padding-left: 56px;
    padding-right: 56px;
  }

  .header__logo {
    margin-right: 60px;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:not(:last-child) {
    margin-right: 30px;
  }

  .hero__body::before {
    right: 0;
  }

  .callback::before {
    width: 465px;
    height: 365px;
    position: absolute;
    bottom: 95px;
    left: -194px;
    background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
    -webkit-filter: blur(150px);
            filter: blur(150px);
  }

  .callback__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .servises__item-icon {
    width: 228px;
  }

  .servises__icon {
    width: 336px;
  }

  .work::before {
    top: 300px;
    left: -40px;
  }

  .work__img {
    width: 500px;
    margin-bottom: 7.6875rem;
    margin-left: 46px;
  }

  .advantages__title,
  .clients__title {
    margin-bottom: 6rem;
  }

  .price {
    margin-bottom: 7.75rem;
  }

  .price::before {
    top: 0;
    right: 0;
  }

  .price::after {
    left: 0;
  }

  .price__title {
    margin-bottom: 3.3125rem;
    text-align: left;
  }

  .clients {
    margin-bottom: 5.4375rem;
  }
}

@media (min-width: 61.99875em) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 243px;
    margin-bottom: 18.4375rem;
  }

  .hero__body {
    max-width: 50%;
    padding-right: 20px;
  }

  .hero__body::before {
    left: 0;
    right: auto;
  }

  .hero__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    max-height: 600px;
  }

  .callback {
    padding-top: 7.5rem;
    padding-bottom: 3.9375rem;
  }

  .callback__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .callback__img {
    width: 444px;
    height: 526px;
    margin-right: 30px;
  }

  .servises {
    padding-bottom: 100px;
    margin-bottom: 5.625rem;
  }

  .servises__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .servises__item {
    margin-top: -210px;
  }

  .servises__item:not(:last-child) {
    margin-right: 42px;
  }

  .servises__item-title {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .servises__icon-1 {
    left: -110px;
    top: 30px;
  }

  .servises__icon-2 {
    right: -110px;
    bottom: 30px;
  }

  .work {
    margin-bottom: 7.6875rem;
  }

  .work__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .work__body > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .work__img {
    margin-bottom: 0;
    margin-right: 62px;
  }

  .work__img::before {
    top: 43px;
    left: -46px;
  }

  .work__img img {
    height: 580px;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .work__item:not(:last-child),
  .page-info__secondary-inner li:not(:last-child) {
    margin-bottom: 3rem;
  }

  .advantages {
    margin-bottom: 9.0625rem;
  }

  .advantages__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 44px 36px 46px 75px;
  }

  .advantages__icon {
    margin-right: 3.75rem;
  }

  .advantages__desc,
  .clients__desc {
    text-align: left;
  }

  .clients__desc {
    text-align: center;
    margin-bottom: 5.125rem;
  }

  .clients__icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 70.9375em) {
  .page-info {
    max-width: 76.3125rem;
    margin-left: auto;
    margin-right: auto;
  }

  .page-info__inner {
    padding: 47px 86px;
  }

  .page-info__secondary {
    max-width: 81.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8.125rem;
  }

  .page-info__secondary-inner {
    padding: 54px 90px;
  }

  .menu__item:not(:last-child) {
    margin-right: 60px;
  }

  .menu__link {
    font-size: 0.9375rem;
    line-height: 1.2;
  }

  .callback::before {
    bottom: 0;
  }

  .price::after {
    top: 130%;
  }

  .price__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 30px;
  }
}

@media (min-width: 93.75em) {
  .hero__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 100em) {
  .callback::before {
    width: 765px;
    height: 765px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
    -webkit-filter: blur(500px);
            filter: blur(500px);
  }
}

@media (max-width: 70.9375em) {
  .price__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__item:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}

@media (max-width: 61.99875em) {
  .page-info__inner::before,
  .page-info__inner::after {
    height: 50%;
    width: 300px;
  }

  .page-info__inner::after {
    top: auto;
    bottom: 0;
  }

  .hero__img {
    display: none;
  }

  .callback__img {
    display: none;
  }

  .servises {
    padding: 54px 0;
    margin-bottom: 6.125rem;
  }

  .servises__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .price__title br {
    display: none;
  }

  .clients__desc br {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .form__suptitle {
    font-size: 1.3125rem;
    line-height: 1.1428571429;
    padding-right: 10px;
    margin-bottom: 2.5rem;
  }

  .touch [data-fullscreen] {
    -webkit-transition: height 0.2s;
    -o-transition: height 0.2s;
    transition: height 0.2s;
  }

  .page-info {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 4.5rem;
  }

  .page-info__inner {
    padding: 31px 6px 47px 9px;
  }

  .page-info__inner::before,
  .page-info__inner::after {
    width: 160px;
    height: 160px;
    -webkit-filter: blur(25px);
            filter: blur(25px);
  }

  .page-info__inner::after {
    right: -10px;
  }

  .page-info__inner::before {
    left: -10px;
    top: 0;
    opacity: 0.35;
  }

  .page-info__secondary {
    padding: 0 16px;
    margin-bottom: 3.75rem;
  }

  .page-info__secondary-inner {
    padding: 39px 16px 32px 16px;
  }

  .page-info__secondary-img {
    display: none;
  }

  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__body {
    position: fixed;
    right: 100%;
    top: 102px;
    background-color: #121212;
    width: 100%;
    height: 100%;
    padding: 40px 30px;
    z-index: 100;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__item {
    text-align: center;
  }

  .menu__item:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .menu__link {
    font-size: 1.125rem;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__navigation {
    margin: 40px 0;
  }

  .footer__navigation-item:not(:last-child) {
    margin-right: 30px;
  }

  .hero {
    margin-bottom: 2.1875rem;
    padding-bottom: 116px;
  }

  .hero__line {
    height: 57px;
  }

  .callback {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .callback::before {
    width: 465px;
    height: 465px;
    position: absolute;
    bottom: -70px;
    left: -124px;
    background: -o-radial-gradient(50% 50%, 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, #6937F7 0%, rgba(105, 55, 247, 0) 100%);
    -webkit-filter: blur(130px);
            filter: blur(130px);
  }

  .callback .form__text {
    max-width: 298px;
  }

  .servises__item:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .servises__item-icon {
    width: 184px;
  }

  .servises__icon {
    width: 168px;
  }

  .servises__icon-1 {
    left: -60px;
  }

  .servises__icon-2 {
    right: -70px;
  }

  .work {
    margin-bottom: 5rem;
  }

  .work::before {
    top: 50%;
    left: -40px;
  }

  .work__img {
    margin-bottom: 4.4375rem;
    width: 300px;
    margin-left: 27px;
  }

  .work__img::before {
    top: 48px;
    left: -27px;
  }

  .work__item:not(:last-child),
  .page-info__secondary-inner li:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .advantages {
    margin-bottom: 4.625rem;
  }

  .advantages__title,
  .clients__title {
    margin-bottom: 5rem;
  }

  .advantages__body {
    padding: 35px 5px 18px 5px;
  }

  .price {
    margin-bottom: 2.6875rem;
  }

  .price::before {
    top: 150px;
    right: 0;
  }

  .price::after {
    bottom: -400px;
    left: 0;
  }

  .price__title {
    margin-bottom: 4.6875rem;
  }

  .clients {
    margin-bottom: 6.6875rem;
  }

  .clients__desc {
    margin-bottom: 5rem;
  }

  .clients__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .clients__icon:nth-child(even) {
    display: none;
  }

  .clients__icon:first-child {
    margin-right: 57px;
  }
}

@media (min-width: 37.5em) and (max-width: 61.99875em) {
  .form__heading {
    padding-left: 45px;
  }

  .form__body {
    margin-left: auto;
    margin-right: auto;
  }

  .hero__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 47.99875em) and (max-width: 70.9375em) {
  .page-info__secondary-inner {
    padding: 47px 22px;
  }
}

@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .hero {
    padding-bottom: 204px;
    margin-bottom: 3.5625rem;
  }

  .hero__line {
    height: 120px;
  }

  .callback {
    padding-top: 77px;
    padding-bottom: 86px;
  }

  .servises__item:not(:last-child) {
    margin-bottom: 5.625rem;
  }

  .servises__icon-1 {
    left: -114px;
  }

  .servises__icon-2 {
    right: -146px;
  }

  .work {
    margin-bottom: 6.25rem;
  }

  .work__img::before {
    top: 69px;
    left: -46px;
  }

  .work__item:not(:last-child),
  .page-info__secondary-inner li:not(:last-child) {
    margin-bottom: 4.375rem;
  }

  .advantages {
    margin-bottom: 5rem;
  }

  .advantages__body {
    padding: 27px 23px 78px 23px;
  }

  .clients__desc {
    margin-bottom: 3.6875rem;
  }

  .clients__icons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (any-hover: hover) {
  .button:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.webp .hero__line{ background-image: url(../img/hero/banner.webp); }